{% extends 'base.html' %} {% block content %}
    {% load static %}
    <header>
        {% include "nav.html" %}
    </header>
    <section class="login-page">
        <h2>Przypomnij hasło</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" placeholder="Email"/>
            </div>

            {% for message in messages %}
                {{ message }}
            {% endfor %}

            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Przypomnij hasło</button>
            </div>
        </form>
    </section>

{% endblock content %}
